## Churn Modelling using ANN Regression

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
import pickle

In [2]:
import tensorflow as tf
print("GPUs Available: ", tf.config.list_physical_devices('GPU'))

2025-12-23 02:25:16.758895: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-12-23 02:25:17.409645: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-12-23 02:25:18.964157: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
/home/hashaneranga/.virtualenvs/MachineLearning_and_datamining_fundamentals/lib/python3.12/site-packages/keras/src/export/tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

GPUs Available:  [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
# import dataset

dataset = pd.read_csv('churn_modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
# check for null values

print(f'Null values present in the dataset: {dataset.isnull().sum().any()}')
dataset[dataset.isnull().any(axis=1)]

Null values present in the dataset: False

Empty DataFrame
Columns: [RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [7]:
# preprocessing

# drop irrelevant columns
df = dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [11]:
# counting unique values
df.nunique()

CreditScore         460
Geography             3
Gender                2
Age                  70
Tenure               11
Balance            6382
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    9999
Exited                2
dtype: int64

In [12]:
# encode categorical labels (Gender)
gender_label_encoder = LabelEncoder()
df['Gender'] = gender_label_encoder.fit_transform(df['Gender'])

In [13]:
df.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [14]:
ohe_encoder = OneHotEncoder(sparse_output=False)
geo_ohe_encoder = ohe_encoder.fit_transform(df[['Geography']])
geo_ohe_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [15]:
ohe_encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
geo_encoded_df = pd.DataFrame(data=geo_ohe_encoder, columns=ohe_encoder.get_feature_names_out())

In [17]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [18]:
df = pd.concat([df.drop(['Geography'], axis=1), geo_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [19]:
# saving the encoders

with open('gender_label_encoder.pkl', 'wb') as file:
    pickle.dump(gender_label_encoder, file)

with open('geography_label_ohe_encoder.pkl', 'wb') as file:
    pickle.dump(geo_ohe_encoder, file)

In [20]:
# separate features and labels

X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

print(f'Shape of X: {X.shape}, Shape of y : {y.shape}')

Shape of X: (10000, 12), Shape of y : (10000,)

In [21]:
# train test splitting

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# scaling the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [22]:
# save the scaler

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Impl for Regression

In [23]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [24]:
# build the ANN model

model = Sequential([
    Dense(64, activation='relu', input_dim=X_train_scaled.shape[1]),
    Dense(32, activation='relu'),
    Dense(1)
])

/home/hashaneranga/.virtualenvs/MachineLearning_and_datamining_fundamentals/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1766436923.194267   49751 gpu_device.cc:2020] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5563 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 4060 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.9

In [25]:
# optimizers
opt = tf.keras.optimizers.Adam()
loss = tf.keras.losses.MeanAbsoluteError()

In [26]:
# compile the model

model.compile(optimizer=opt, loss=loss, metrics=['mae'])

In [27]:
# setting up the tensorflow

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tesorflow_callback = TensorBoard(log_dir)

In [28]:
# setting up early stopping

early_stoppin_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [29]:
# training the model

history = model.fit(
    X_train_scaled, y_train,
    epochs=100,
    validation_data=(X_test_scaled, y_test),
    callbacks=[early_stoppin_callback, tesorflow_callback]
)

Epoch 1/100

2025-12-23 02:25:25.833343: I external/local_xla/xla/service/service.cc:163] XLA service 0x72eb58006790 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2025-12-23 02:25:25.833365: I external/local_xla/xla/service/service.cc:171]   StreamExecutor device (0): NVIDIA GeForce RTX 4060 Laptop GPU, Compute Capability 8.9
2025-12-23 02:25:25.857693: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2025-12-23 02:25:25.956645: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:473] Loaded cuDNN version 91700

 74/250  0s 2ms/step - loss: 101682.4926 - mae: 101682.4926

I0000 00:00:1766436926.696564   50162 device_compiler.h:196] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

250/250  3s 5ms/step - loss: 100394.7578 - mae: 100394.7578 - val_loss: 98579.8906 - val_mae: 98579.8906
Epoch 2/100
250/250  1s 3ms/step - loss: 99837.1016 - mae: 99837.1016 - val_loss: 97416.8750 - val_mae: 97416.8750
Epoch 3/100
250/250  1s 3ms/step - loss: 97763.2891 - mae: 97763.2891 - val_loss: 94324.9141 - val_mae: 94324.9141
Epoch 4/100
250/250  1s 3ms/step - loss: 93556.8281 - mae: 93556.8281 - val_loss: 88998.9297 - val_mae: 88998.9297
Epoch 5/100
250/250  1s 3ms/step - loss: 87228.8516 - mae: 87228.8516 - val_loss: 81810.2344 - val_mae: 81810.2344
Epoch 6/100
250/250  1s 3ms/step - loss: 79293.2500 - mae: 79293.2500 - val_loss: 73598.2344 - val_mae: 73598.2344
Epoch 7/100
250/250  1s 3ms/step - loss: 70887.2812 - mae: 70887.2812 - val_loss: 65801.5859 - val_mae: 65801.5859
Epoch 8/100
250/250  1s 3ms/step - loss: 63285.1250 - mae: 63285.1250 - val_loss: 59356.4375 - val_mae: 59356.4375
Epoch 9/100
250/250  1s 2ms/step - loss: 57461.3711 - mae: 57461.3711 - val_loss: 54829.6875 - val_mae: 54829.6875
Epoch 10/100
250/250  1s 3ms/step - loss: 53690.1055 - mae: 53690.1055 - val_loss: 52380.1211 - val_mae: 52380.1211
Epoch 11/100
250/250  1s 3ms/step - loss: 51691.1836 - mae: 51691.1836 - val_loss: 51263.4492 - val_mae: 51263.4492
Epoch 12/100
250/250  1s 3ms/step - loss: 50789.0039 - mae: 50789.0039 - val_loss: 50868.0352 - val_mae: 50868.0352
Epoch 13/100
250/250  1s 3ms/step - loss: 50439.3203 - mae: 50439.3203 - val_loss: 50741.1094 - val_mae: 50741.1094
Epoch 14/100
250/250  1s 3ms/step - loss: 50291.8945 - mae: 50291.8945 - val_loss: 50689.0195 - val_mae: 50689.0195
Epoch 15/100
250/250  1s 3ms/step - loss: 50207.1680 - mae: 50207.1680 - val_loss: 50668.4805 - val_mae: 50668.4805
Epoch 16/100
250/250  1s 3ms/step - loss: 50147.6133 - mae: 50147.6133 - val_loss: 50633.0703 - val_mae: 50633.0703
Epoch 17/100
250/250  1s 3ms/step - loss: 50098.7148 - mae: 50098.7148 - val_loss: 50607.8203 - val_mae: 50607.8203
Epoch 18/100
250/250  1s 3ms/step - loss: 50055.6406 - mae: 50055.6406 - val_loss: 50576.1914 - val_mae: 50576.1914
Epoch 19/100
250/250  1s 3ms/step - loss: 50020.8594 - mae: 50020.8594 - val_loss: 50558.3477 - val_mae: 50558.3477
Epoch 20/100
250/250  1s 3ms/step - loss: 49984.2266 - mae: 49984.2266 - val_loss: 50533.8086 - val_mae: 50533.8086
Epoch 21/100
250/250  1s 3ms/step - loss: 49954.9727 - mae: 49954.9727 - val_loss: 50515.0938 - val_mae: 50515.0938
Epoch 22/100
250/250  1s 3ms/step - loss: 49928.5547 - mae: 49928.5547 - val_loss: 50489.7969 - val_mae: 50489.7969
Epoch 23/100
250/250  1s 3ms/step - loss: 49899.9961 - mae: 49899.9961 - val_loss: 50468.4961 - val_mae: 50468.4961
Epoch 24/100
250/250  1s 3ms/step - loss: 49878.0898 - mae: 49878.0898 - val_loss: 50445.0625 - val_mae: 50445.0625
Epoch 25/100
250/250  1s 3ms/step - loss: 49857.8711 - mae: 49857.8711 - val_loss: 50428.6250 - val_mae: 50428.6250
Epoch 26/100
250/250  0s 75us/step - loss: 49834.4062 - mae: 49834.4062 - val_loss: 50417.5898 - val_mae: 50417.5898
Epoch 27/100
250/250  1s 3ms/step - loss: 49817.1641 - mae: 49817.1641 - val_loss: 50399.0234 - val_mae: 50399.0234
Epoch 28/100
250/250  1s 3ms/step - loss: 49796.7578 - mae: 49796.7578 - val_loss: 50394.6055 - val_mae: 50394.6055
Epoch 29/100
250/250  1s 3ms/step - loss: 49782.8711 - mae: 49782.8711 - val_loss: 50372.4062 - val_mae: 50372.4062
Epoch 30/100
250/250  1s 4ms/step - loss: 49762.4922 - mae: 49762.4922 - val_loss: 50367.0039 - val_mae: 50367.0039
Epoch 31/100
250/250  1s 3ms/step - loss: 49748.1875 - mae: 49748.1875 - val_loss: 50356.1445 - val_mae: 50356.1445
Epoch 32/100
250/250  1s 3ms/step - loss: 49731.8164 - mae: 49731.8164 - val_loss: 50349.7852 - val_mae: 50349.7852
Epoch 33/100
250/250  1s 3ms/step - loss: 49720.6016 - mae: 49720.6016 - val_loss: 50348.0234 - val_mae: 50348.0234
Epoch 34/100
250/250  1s 3ms/step - loss: 49712.4844 - mae: 49712.4844 - val_loss: 50333.7656 - val_mae: 50333.7656
Epoch 35/100
250/250  1s 4ms/step - loss: 49696.1797 - mae: 49696.1797 - val_loss: 50330.5391 - val_mae: 50330.5391
Epoch 36/100
250/250  1s 3ms/step - loss: 49684.5742 - mae: 49684.5742 - val_loss: 50318.2461 - val_mae: 50318.2461
Epoch 37/100
250/250  1s 3ms/step - loss: 49671.3594 - mae: 49671.3594 - val_loss: 50311.2695 - val_mae: 50311.2695
Epoch 38/100
250/250  1s 3ms/step - loss: 49659.9648 - mae: 49659.9648 - val_loss: 50304.8906 - val_mae: 50304.8906
Epoch 39/100
250/250  1s 3ms/step - loss: 49650.8789 - mae: 49650.8789 - val_loss: 50318.4883 - val_mae: 50318.4883
Epoch 40/100
250/250  1s 3ms/step - loss: 49642.3438 - mae: 49642.3438 - val_loss: 50313.9570 - val_mae: 50313.9570
Epoch 41/100
250/250  1s 3ms/step - loss: 49635.6172 - mae: 49635.6172 - val_loss: 50314.1016 - val_mae: 50314.1016
Epoch 42/100
250/250  1s 3ms/step - loss: 49623.2969 - mae: 49623.2969 - val_loss: 50310.6875 - val_mae: 50310.6875
Epoch 43/100
250/250  1s 3ms/step - loss: 49614.3398 - mae: 49614.3398 - val_loss: 50301.8906 - val_mae: 50301.8906
Epoch 44/100
250/250  1s 3ms/step - loss: 49603.8945 - mae: 49603.8945 - val_loss: 50302.1172 - val_mae: 50302.1172
Epoch 45/100
250/250  1s 3ms/step - loss: 49595.6562 - mae: 49595.6562 - val_loss: 50298.4297 - val_mae: 50298.4297
Epoch 46/100
250/250  1s 3ms/step - loss: 49591.7031 - mae: 49591.7031 - val_loss: 50305.2305 - val_mae: 50305.2305
Epoch 47/100
250/250  1s 4ms/step - loss: 49580.2188 - mae: 49580.2188 - val_loss: 50297.0938 - val_mae: 50297.0938
Epoch 48/100
250/250  1s 3ms/step - loss: 49574.1055 - mae: 49574.1055 - val_loss: 50297.6641 - val_mae: 50297.6641
Epoch 49/100
250/250  1s 3ms/step - loss: 49564.6992 - mae: 49564.6992 - val_loss: 50304.3086 - val_mae: 50304.3086
Epoch 50/100
250/250  1s 3ms/step - loss: 49557.0469 - mae: 49557.0469 - val_loss: 50294.7578 - val_mae: 50294.7578
Epoch 51/100
250/250  1s 3ms/step - loss: 49548.2461 - mae: 49548.2461 - val_loss: 50290.5391 - val_mae: 50290.5391
Epoch 52/100
250/250  1s 3ms/step - loss: 49541.8672 - mae: 49541.8672 - val_loss: 50293.3320 - val_mae: 50293.3320
Epoch 53/100
250/250  1s 3ms/step - loss: 49533.2148 - mae: 49533.2148 - val_loss: 50289.3438 - val_mae: 50289.3438
Epoch 54/100
250/250  1s 3ms/step - loss: 49527.0195 - mae: 49527.0195 - val_loss: 50287.9883 - val_mae: 50287.9883
Epoch 55/100
250/250  1s 3ms/step - loss: 49520.2109 - mae: 49520.2109 - val_loss: 50284.4297 - val_mae: 50284.4297
Epoch 56/100
250/250  1s 3ms/step - loss: 49513.0391 - mae: 49513.0391 - val_loss: 50305.7695 - val_mae: 50305.7695
Epoch 57/100
250/250  1s 3ms/step - loss: 49511.2031 - mae: 49511.2031 - val_loss: 50295.6523 - val_mae: 50295.6523
Epoch 58/100
250/250  1s 3ms/step - loss: 49505.7734 - mae: 49505.7734 - val_loss: 50304.5938 - val_mae: 50304.5938
Epoch 59/100
250/250  1s 3ms/step - loss: 49499.5625 - mae: 49499.5625 - val_loss: 50290.4805 - val_mae: 50290.4805
Epoch 60/100
250/250  1s 3ms/step - loss: 49494.3867 - mae: 49494.3867 - val_loss: 50292.5039 - val_mae: 50292.5039
Epoch 61/100
250/250  1s 3ms/step - loss: 49487.1836 - mae: 49487.1836 - val_loss: 50296.9062 - val_mae: 50296.9062
Epoch 62/100
250/250  1s 3ms/step - loss: 49481.1328 - mae: 49481.1328 - val_loss: 50296.6992 - val_mae: 50296.6992
Epoch 63/100
250/250  1s 3ms/step - loss: 49479.9219 - mae: 49479.9219 - val_loss: 50301.4883 - val_mae: 50301.4883
Epoch 64/100
250/250  1s 3ms/step - loss: 49471.8359 - mae: 49471.8359 - val_loss: 50295.0117 - val_mae: 50295.0117
Epoch 65/100
250/250  1s 3ms/step - loss: 49467.8281 - mae: 49467.8281 - val_loss: 50312.0547 - val_mae: 50312.0547

In [30]:
# save the model

model.save('model.keras')

In [31]:
# load tensorboard extension

%load_ext tensorboard

In [32]:
# Set TensorBoard binary path for WSL environment
import os
os.environ['TENSORBOARD_BINARY'] = '/home/hashaneranga/.virtualenvs/MachineLearning_and_datamining_fundamentals/bin/tensorboard'

In [34]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 60518), started 0:01:18 ago. (Use '!kill 60518' to kill it.)

In [35]:
# evaluate model on the test data

test_loss, test_mae = model.evaluate(X_test_scaled, y_test)
print(f'test loss : {test_loss}')
print(f'test mae : {test_mae}')

63/63  0s 3ms/step - loss: 50284.4297 - mae: 50284.4297
test loss : 50284.4296875
test mae : 50284.4296875

In [ ]:
model.save()